<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card card-body table-responsive">
        <form action="/">
          <div class="position-relative">
            <a class="btn btn-light btn-sm position-absolute btn-create" href="/record/new">新增</a>
            {{> filter}}
          </div>
          <button class="btn-secondary btn">過濾顯示</button>
          <a href="/" class="btn btn-secondary">清空篩選條件</a>
        </form>
        <ul class="list-group my-3">
          <li class="list-group-item d-flex justify-content-between bg-light">
            <a {{!-- 傳送當前選擇排序參數(加上負號是因為點擊第二次的時候會做顛倒排序,如果做過處理再傳入sort.category會影響其他排序夾帶的sort.category參數),並加入其他兩種排序的狀態,以及加入過濾選單的參數 --}}
              href="/?sort[category]={{#if sort.category}}-{{sort.category}}{{else}}1{{/if}}{{#if sort.date}}&sort[date]={{sort.date}}{{/if}}{{#if sort.amount}}&sort[amount]={{sort.amount}}{{/if}}{{#if filter.month}}{{#each filter.month }}&filter[month][]={{this}}{{/each}}{{/if}}{{#if filter.category}}{{#each filter.category }}&filter[category][]={{this}}{{/each}}{{/if}}">類別<span
                class="arrow asc{{sort.category}}"></span></a>
            <a
              href="/?sort[date]={{#if sort.date}}-{{sort.date}}{{else}}1{{/if}}{{#if sort.category}}&sort[category]={{sort.category}}{{/if}}{{#if sort.amount}}&sort[amount]={{sort.amount}}{{/if}}{{#if filter.month}}{{#each filter.month }}&filter[month][]={{this}}{{/each}}{{/if}}{{#if filter.category}}{{#each filter.category }}&filter[category][]={{this}}{{/each}}{{/if}}">日期<span
                class="arrow asc{{sort.date}}"></span></a>
            <a
              href="/?sort[amount]={{#if sort.amount}}-{{sort.amount}}{{else}}1{{/if}}{{#if sort.category}}&sort[category]={{sort.category}}{{/if}}{{#if sort.date}}&sort[date]={{sort.date}}{{/if}}{{#if filter.month}}{{#each filter.month }}&filter[month][]={{this}}{{/each}}{{/if}}{{#if filter.category}}{{#each filter.category }}&filter[category][]={{this}}{{/each}}{{/if}}">金額<span
                class="arrow asc{{sort.amount}}"></span></a>
          </li>

          {{#each records}}

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <a href="/record/{{this._id}}/edit" class="text-decoration-none">
                <i class="fas {{this.category}}"></i>
                <h6 class="my-0">{{this.name}}</h6>
                <small class="text-muted">{{this.date}}</small>
              </a>
              <span>{{this.merchant}}</span>
              <ul class="list-unstyled text-right ml-3">
                <li class="mb-3">
                  <span class="text-muted">${{this.amount}}</span>
                </li>
                <li>
                  <a class="text-decoration-none" href="/record/{{this._id}}/edit">
                    <i class="fas fa-edit mb-05"></i>
                  </a>
                  <form class="list-inline-item ml-5" action="/record/{{this._id}}?_method=DELETE" method="POST">
                    <label for="{{this._id}}">
                      <a class="text-decoration-none">
                        <i class="fas fa-trash-alt mr-02 delete-icon"></i>
                      </a>
                    </label>
                    <input type="submit" class="delete" id="{{this._id}}" hidden>
                  </form>
                </li>
              </ul>
            </li>

          {{/each}}
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Total</h6>
            </div>
            <strong class="text-success">${{totalAmount}}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{#if filter}}
  {{#if filter.category}}

    <script>document.getElementById('category-content').style.display = "block"</script>
    <script>document.getElementById('category-content').previousElementSibling.classList.toggle("active")</script>
    {{#each filter.category }}
      <script>document.getElementById("{{this}}").checked = true;</script>
    {{/each}}
  {{/if}}
  {{#if filter.month}}

    <script>document.getElementById('month-content').style.display = "block"</script>
    <script>document.getElementById('month-content').previousElementSibling.classList.toggle("active")</script>
    {{#each filter.month }}
      <script>  document.getElementById("month_{{this}}").checked = true;</script>
    {{/each}}
  {{/if}}
{{/if}}